{% extends 'layout.html' %}
<!--'layout.html' 템플릿 확장-->

{% block content %}
<!--'content' 블록 시작, 여기에서 본문 콘텐츠 정의-->
    <div class="timeline">
        <!--회원가입 폼 시작-->
        <form action="/auth/join" id="join-form" method="post">
            <div class="input-group">
                <!--이메일 입력 필드-->
                <label for="join-email">이메일</label>
                <input type="email" id="join-email" name="email">
            </div>
            <div class="input-group">
                <!--닉네임 입력 필드-->
                <label for="join-nick">닉네임</label>
                <input type="text" id="join-nick" name="nick">
            </div>
            <div class="input-group">
                <!--비밀번호 입력 필드-->
                <label for="join-password">비밀번호</label>
                <input type="password" id="join-password" name="password">
            </div>
            <!--회원가입 버튼-->
            <button id="join-btn" type="submit" class="btn">회원가입</button>
        </form>
    </div>
{% endblock %}

{% block script %}
<!--'script' 블록 시작-->
    <script>
        // 페이지 로드시 에러 파라미터를 확인하여 알림을 표시
        window.onload = () => {
            if (new URL(location.href).searchParams.get('error')) {
                alert('이미 존재하는 이메일입니다.')
            }
        };
    </script>
{% endblock %}